@import 'reset';
@import './mixin/RWD';


body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 30px 10px;

  h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  i{
    margin-right: 10px;
    &.red{
      color: red;
    }
    &.green{
      color: #31aa75;
    }
  }

  .info{
    margin-bottom: 30px;
    p{
      font-size: 20px;
      margin-right: 10px;
    }
    .SN,.Num{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 15px;
      input{
        font-size: 18px;
      }
      i{
        position: relative;
        left: -22px;
        transition: all 0.2s;
        &:hover{
          color: #007bff;
        }
      }
    }
  }

  .infoBox{
    min-height: 80px;
    max-width: 500px;
    margin: 0 auto;
    background: #EEE;
    border-radius: 8px;
    margin-top: 20px;
    padding: 15px;
    .text{
      margin-bottom: 5px;
      text-align: left;
      &.red{
        color: red;
      }
      &.green{
        color: #31aa75;
      }
      &.center{
        font-weight: bold;
        text-align: center;
      }
      &.bold{
        font-weight: bold;
      }
      &.bt{
        border-top: solid #000;
      }
    }
  }
  .status {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }

  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
    }
    
  }
}









